<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Application web">
    <meta name="description" content="Application web">
    <meta name="robots" content="noindex,nofollow">
    <title>Application web | {{ title }}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom CSS -->
   <link href="css/style.min.css" rel="stylesheet">

   <link href="css/bootstrap.css" rel="stylesheet">
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        
        {{> topbar }}


        {{> sidebar }}
        
        <div class="page-wrapper" style="min-height: 250px;">
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-12">
                        <h4 class="page-title">{{ page }}</h4>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                {{!-- <li><a href="#" class="fw-normal">Dashboard</a></li> --}}
                            </ol>
                            <a href="/auth/profile" class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"><i class="fa fa-user"></i> {{ user.lastName }}</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="container-fluid">

                {{{ body }}}

            </div>

            {{> footer }}

        </div>
        
    </div>

    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/dragDrop.js"></script>

    <script src="js/script-ajax.js"></script>

    <script src="js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.js"></script>

    <script src="js/chart.min.js"></script>
{{#if dashboard}}
    <script>
        (function($) {
            'use strict';
            $(function() {

                Chart.defaults.global.legend.labels.usePointStyle = true;

                if ($("#visit-sale-chart-one").length) {
                    Chart.defaults.global.legend.labels.usePointStyle = true;
                    var ctx = document.getElementById('visit-sale-chart-one').getContext("2d");

                    var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
                    gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
                    gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');
                    var gradientLegendViolet = 'linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1))';

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: {{convertArray listDayInMonth}},
                            datasets: [
                            {
                                label: "Nombre de réservation",
                                borderColor: gradientStrokeViolet,
                                backgroundColor: gradientStrokeViolet,
                                hoverBackgroundColor: gradientStrokeViolet,
                                legendColor: gradientLegendViolet,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: {{convertArray listTotalAppointmentParJour}}
                            }
                        ]
                        },
                        options: {
                        responsive: true,
                        legend: false,
                        legendCallback: function(chart) {
                            var text = []; 
                            text.push('<ul class="ps-0">'); 
                            for (var i = 0; i < chart.data.datasets.length; i++) { 
                                text.push('<li><span class="legend-dots" style="background:' + 
                                        chart.data.datasets[i].legendColor + 
                                        '"></span>'); 
                                if (chart.data.datasets[i].label) { 
                                    text.push(chart.data.datasets[i].label); 
                                } 
                                text.push('</li>'); 
                            } 
                            text.push('</ul>'); 
                            return text.join('');
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 20,
                                    max: 80
                                },
                                gridLines: {
                                    drawBorder: false,
                                    color: 'rgba(235,237,242,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display:false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                categoryPercentage: 0.5,
                                barPercentage: 0.5
                            }]
                            }
                        },
                        elements: {
                            point: {
                            radius: 0
                            }
                        }
                    })
                    $("#visit-sale-chart-legend-one").html(myChart.generateLegend());
                }

                if ($("#visit-sale-chart-two").length) {
                    Chart.defaults.global.legend.labels.usePointStyle = true;
                    var ctx = document.getElementById('visit-sale-chart-two').getContext("2d");

                    var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 181);
                    gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
                    gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
                    var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                            datasets: [
                            {
                                label: "Nombre de réservation",
                                borderColor: gradientStrokeBlue,
                                backgroundColor: gradientStrokeBlue,
                                hoverBackgroundColor: gradientStrokeBlue,
                                legendColor: gradientLegendBlue,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: {{convertArray listTotalAppointmentParMois}}
                            }
                        ]
                        },
                        options: {
                        responsive: true,
                        legend: false,
                        legendCallback: function(chart) {
                            var text = []; 
                            text.push('<ul class="ps-0">'); 
                            for (var i = 0; i < chart.data.datasets.length; i++) { 
                                text.push('<li><span class="legend-dots" style="background:' + 
                                        chart.data.datasets[i].legendColor + 
                                        '"></span>'); 
                                if (chart.data.datasets[i].label) { 
                                    text.push(chart.data.datasets[i].label); 
                                } 
                                text.push('</li>'); 
                            } 
                            text.push('</ul>'); 
                            return text.join('');
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 20,
                                    max: 80
                                },
                                gridLines: {
                                    drawBorder: false,
                                    color: 'rgba(235,237,242,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display:false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                categoryPercentage: 0.5,
                                barPercentage: 0.5
                            }]
                            }
                        },
                        elements: {
                            point: {
                            radius: 0
                            }
                        }
                    })
                    $("#visit-sale-chart-legend-two").html(myChart.generateLegend());
                }

                if ($("#visit-sale-chart-three").length) {
                    Chart.defaults.global.legend.labels.usePointStyle = true;
                    var ctx = document.getElementById('visit-sale-chart-three').getContext("2d");

                    var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 300);
                    gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
                    gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
                    var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: {{convertArray listDayInMonth}},
                            datasets: [
                            {
                                label: "Chiffre d'affaire",
                                borderColor: gradientStrokeRed,
                                backgroundColor: gradientStrokeRed,
                                hoverBackgroundColor: gradientStrokeRed,
                                legendColor: gradientLegendRed,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: {{convertArray listChiffreDaffaireParJour}}
                            }
                        ]
                        },
                        options: {
                        responsive: true,
                        legend: false,
                        legendCallback: function(chart) {
                            var text = []; 
                            text.push('<ul class="ps-0">'); 
                            for (var i = 0; i < chart.data.datasets.length; i++) { 
                                text.push('<li><span class="legend-dots" style="background:' + 
                                        chart.data.datasets[i].legendColor + 
                                        '"></span>'); 
                                if (chart.data.datasets[i].label) { 
                                    text.push(chart.data.datasets[i].label); 
                                } 
                                text.push('</li>'); 
                            } 
                            text.push('</ul>'); 
                            return text.join('');
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 1000000,
                                    max: 5000000
                                },
                                gridLines: {
                                    drawBorder: false,
                                    color: 'rgba(235,237,242,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display:false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                categoryPercentage: 0.5,
                                barPercentage: 0.5
                            }]
                            }
                        },
                        elements: {
                            point: {
                            radius: 0
                            }
                        }
                    })
                    $("#visit-sale-chart-legend-three").html(myChart.generateLegend());
                }

                if ($("#visit-sale-chart-four").length) {
                    Chart.defaults.global.legend.labels.usePointStyle = true;
                    var ctx = document.getElementById('visit-sale-chart-four').getContext("2d");

                    var gradientStrokeGreen = ctx.createLinearGradient(0, 0, 0, 300);
                    gradientStrokeGreen.addColorStop(0, 'rgba(6, 185, 157, 1)');
                    gradientStrokeGreen.addColorStop(1, 'rgba(132, 217, 210, 1)');
                    var gradientLegendGreen = 'linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))'; 

                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                            datasets: [
                            {
                                label: "Chiffre d'affaire",
                                borderColor: gradientStrokeGreen,
                                backgroundColor: gradientStrokeGreen,
                                hoverBackgroundColor: gradientStrokeGreen,
                                legendColor: gradientLegendGreen,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: {{convertArray listChiffreDaffaireParMois}}
                            }
                        ]
                        },
                        options: {
                        responsive: true,
                        legend: false,
                        legendCallback: function(chart) {
                            var text = []; 
                            text.push('<ul class="ps-0">'); 
                            for (var i = 0; i < chart.data.datasets.length; i++) { 
                                text.push('<li><span class="legend-dots" style="background:' + 
                                        chart.data.datasets[i].legendColor + 
                                        '"></span>'); 
                                if (chart.data.datasets[i].label) { 
                                    text.push(chart.data.datasets[i].label); 
                                } 
                                text.push('</li>'); 
                            } 
                            text.push('</ul>'); 
                            return text.join('');
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 10000000,
                                    max: 50000000
                                },
                                gridLines: {
                                    drawBorder: false,
                                    color: 'rgba(235,237,242,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display:false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                categoryPercentage: 0.5,
                                barPercentage: 0.5
                            }]
                            }
                        },
                        elements: {
                            point: {
                            radius: 0
                            }
                        }
                    })
                    $("#visit-sale-chart-legend-four").html(myChart.generateLegend());
                }
            });
        })(jQuery);
    </script>
{{/if}}
</body>

</html>